@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.ff_montserrat {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../FontFamily/Gilroy-Bold.ttf");
}

.ff_bold_gilroy {
    font-family: "Gilroy-Bold";
}


@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../FontFamily/Gilroy-SemiBold.ttf");
}

.ff_semiBold_gilroy {
    font-family: "Gilroy-SemiBold";
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../FontFamily/Gilroy-Medium.ttf");
}

.ff_mediium_gilroy {
    font-family: "Gilroy-Medium";
}

:root {
    /* ================================== fw ======================================= */
    --fw_medium: 500;
    /* ================================== fs ======================================= */
    --fs_xsm: 16px;
    --fs_xsm_2: 18px;
    --fs_sm: 20px;
    --fs_sm_2: 22px;
    --fs_md: 24px;
    --fs_lg: 36px;
    --fs_xl: 56px;
    --fs_xl_2: 65px;
    --fs_xl_3: 85px;
    /* ================================ colour ================================== */
    --p_grad_1: linear-gradient(44.01deg, #D41700 -6.45%, #7F0011 136.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    ;
    --text_gray_1: #A6A6A6;
    --text_gray_2: #878787;
    --text_white_1: #fff;
    --text_white_2: #E1E1E1;
    --bg_black_1: #121212;
    --bg_black_2: #232323;
    --bg_red_1: #841002;

}

/* =================================== color ==================================== */
.bg_red_grad_1 {
    background: var(--p_grad_1);
}

.bg_black_1 {
    background-color: var(--bg_black_1);
}

.bg_black_2 {
    background-color: var(--bg_black_2);
}

.bg_red_1 {
    background-color: var(--bg_red_1);
}

.red_grad_1 {
    color: var(--p_grad_1);
}

.text_gray_1 {
    color: var(--text_gray_1);
}

.text_gray_2 {
    color: var(--text_gray_2);
}

.text_white_1 {
    color: var(--text_white_1);
}

.text_white_2 {
    color: var(--text_white_2);
}

/* ================================== fw ======================================= */
.fw_medium {
    font-weight: var(--fw_medium);
}

/* ================================== fs ======================================= */
.fs_xsm {
    font-size: var(--fs_xsm);
}

.fs_xsm_2 {
    font-size: var(--fs_xsm_2);
}

.fs_sm {
    font-size: var(--fs_sm);
}

.fs_sm_2 {
    font-size: var(--fs_sm_2);
}

.md {
    font-size: var(--md);
}

.lg {
    font-size: var(--lg);
}

.xl {
    font-size: var(--xl);
}

.xl_2 {
    font-size: var(--xl_2);
}

.xl_3 {
    font-size: var(--xl_3);
}