@media (max-width: 576px) {
  .pos_pngegg {
    position: relative !important;
  }

  .w_100 {
    width: 100% !important;
  }
}

@media (min-width: 576px) {

  .pos_pngegg {
    position: relative !important;
  }

  .w_100 {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .pos_pngegg {
    position: absolute !important;
    bottom: -622px !important;
  }

  .w_100 {
    width: 80% !important;
  }
}

@media (min-width: 1400px) {
  .w_100 {
    width: 80% !important;
  }

  .pos_pngegg {
    position: absolute !important;
    bottom: -465px !important;
  }
}