@media(min-width:992px) {
    .left {
        left: 278px;
        top: 25px;
    }

    .right {
        right: 278px;
        top: 25px;
    }

    .min_58 {
        min-height: 68vh;
    }

    .w_80 {
        width: 80%;
    }
}