* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
}


.w_852 {
    max-width: 852px;
}

.shadow {
    background: #121212;
    border-radius: 16px;

}

.white_space {
    white-space: nowrap;
}

.shadow:hover {
    border: 2px solid linear-gradient(44.01deg, #D41700 -6.45%, #7F0011 136.55%) !important;
}

.left {
    left: 350px;
    top: 25px;
}

.right {
    right: 350px;
    top: 25px;
}

.w_230 {
    max-width: 230px;
}

.w_665 {
    max-width: 665px;
}

.w-170 {
    max-width: 170px;
}

.w-195 {
    max-width: 195px;
}

.btns {
    background: linear-gradient(44.01deg, #D41700 -6.45%, #7F0011 136.55%);
    border-radius: 60px;
    border: 1px solid #841002 !important;
    padding: 13px 32px;
    max-width: 146px;
}

.btns:hover {
    color: #D41700;
    background-color: white !important;
}

@media(min-width:320px) {}