* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
  /* outline: 2px solid red; */
}

.bg_black {
  background-color: black;
}

.bg_getStarted_btn {
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
}

.border_radius_60 {
  border-radius: 60px;
}

.nav_open {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  transition: all 0.3s linear;
  z-index: 2;
}

<<<<<<< HEAD

=======
@media (min-width: 992px) {
  .nav_open {
    all: unset;
  }
}
>>>>>>> 1cca87734dbf38074761d4e3314d86fb3d5c3c73

.z_index_3 {
  z-index: 3;
}

.bg_black {
  background-color: black;
}

.nav_bnt_line {
  height: 3px;
  width: 35px;
  background-color: white;
  display: inline-block;
}

.ms_100 {
  margin-left: -100%;
}

.p_btn_nav {
  padding: 15px 30px;
}

.nav_btn {
  position: relative;
  transition: 0.3s ease-in-out all;
}

.nav_btn:hover {
  color: white !important;
}

.nav_btn::after {
  content: "";
  position: absolute;
  background-color: #d41700;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 50%;
}

.nav_btn:hover::after {
  content: "";
  width: 100%;
  transition: 0.4s;
  transform: translateX(-50%);
}

/* hero */
.bg_hero {
  background-image: url("./assets/img/png/hero_bg.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mw_980 {
  max-width: 980px;
}

.position_hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero_line {
  width: 65px;
  height: 4px;
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
}

/* takeControl */
.mw_630 {
  max-width: 630px;
}

.mw_760 {
  max-width: 760px;
}

.w_136 {
  max-width: 136px;
}

.border_radius_16 {
  border-radius: 16px;
}

.line_cards_gradient {
  background: linear-gradient(
    90deg,
    rgba(232, 15, 15, 0),
    rgba(232, 15, 15, 1),
    rgba(232, 15, 15, 0)
  );
  width: 145px;
  height: 3px;
}

.opacity_0_5:hover {
  opacity: 0.5;
}

.hover_cards {
  border: 2px solid transparent;
}

.hover_cards:hover {
  background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(
        146.74deg,
        rgba(232, 15, 15, 0) 0%,
        #e80f0f 51.29%,
        rgba(89, 89, 89, 0) 100%
      )
      border-box;
}

.transition_03 {
  transition: 0.3s ease-in-out all;
}

.position_phone {
  bottom: -50px;
}

.footer_btn:hover {
  color: white !important;
}

.position_line_cards {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn_hover_shadow:hover {
  box-shadow: 0px 5px 15px 5px rgba(255, 0, 0, 0.5);
}

.btn_hover_shadow {
  transition: 0.3s ease-in-out all;
}

.hover_btn_getStarted:hover {
  background-color: white !important;
  color: black !important;
}

/* footer */
.footer_btn:hover {
  color: white !important;
}

.h_600 {
  height: 600px;
}

.end_20 {
  right: 20px;
}

.top_20 {
  top: 20px;
}

.w_85 {
  width: 85%;
}

.red_circle_position_products {
  top: -40%;
  z-index: -1;
  width: 50%;
}

/* =========================================== */
.w_852 {
  max-width: 852px;
}

.w_230 {
  max-width: 230px;
}

.w_665 {
  max-width: 665px;
}

.w-170 {
  max-width: 170px;
}

.w-195 {
  max-width: 195px;
}

/* ======================================================== */
.max_w_893 {
  max-width: 893px;
}

.Features_box {
  background: #121212;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.4);
  padding: 27px;
  height: 100%;
  transition: all 400ms linear;
}

.Features_box:hover {
  transform: scale(0.9);
}

/*----------StayConnect----------*/
.stay_box {
  background: #eb1111;
  border-radius: 18px;
  transition: all 400ms linear;
}

.stay_box:hover {
  box-shadow: 0px 4px 100px 0px #ff000080;
}

.max_w_665 {
  max-width: 665px;
}

.btn_1 {
  text-align: center;
  background: #000000;
  border-radius: 60px;
  padding: 15px 30px;
  color: #fff;
}

.z_index1 {
  z-index: 1;
}

.z_index-1 {
  z-index: -1;
}

.z_index_3 {
  z-index: 3;
}

.w_10 {
  width: 10%;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
  box-shadow: none !important;
  font-family: "Gilroy-SemiBold" !important;
  font-weight: 600 !important;
  font-size: var(--fs_md) !important;
  color: #ffffff !important;
}

.accordion-body {
  background-color: transparent !important;
  font-family: "Gilroy-SemiBold" !important;
  font-weight: 500 !important;
  font-size: var(--fs_xsm) !important;
  color: #ffffff !important;
}

.accordion-item {
  border: none !important;
  background: #841002 !important;
  /* box-shadow: 0px 4px 100px rgba(191, 48, 48, 0.5); */
  border-radius: 12px !important;
}

.accordion-button {
  background: #232323 !important;
  border-radius: 12px !important;
  color: #a6a6a6 !important;
  font-weight: 600 !important;
  font-family: "Gilroy-SemiBold" !important;
  font-size: var(--fs_md) !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-item:first-of-type {
  border-radius: 12px !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
  border-radius: 12px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: none !important;
  border-bottom-left-radius: none !important;
  border-radius: 12px !important;
}

.accordion-item:last-of-type {
  border-radius: 12px !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/img/svg/faq_open_img.svg") !important;
}

.accordion-button::after {
  background-image: url("./assets/img/svg/faq_plus_img.svg") !important;
  background-repeat: no-repeat !important;
}

/* ======================================= */
.red_circle_position_work_end {
  bottom: -100%;
}

.right_15_top_10 {
  right: 0%;
  top: -45%;
}

/* =================================== */
.overflow_hidden_preloder {
  overflow: hidden;
  position: relative;
}

.loding_position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_back_to_top {
  background-color: #7F0011;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
}

.animation_loding {
  animation: loading_animate 2s ease-in-out linear infinite;
}

@keyframes loading_animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

/* ================================= */
@media (max-width: 576px) {
  .w_xsm_50 {
    width: 50%;
  }

  .pos_pngegg {
    position: relative !important;
  }

  .w_100 {
    width: 100% !important;
  }
}

@media (min-width: 576px) {
  .pos_pngegg {
    position: relative !important;
  }

  .w_100 {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .min_vh_md_100 {
    min-height: 100vh;
  }

  .pos_pngegg {
    position: absolute !important;
    bottom: -574px;
  }

  .w_100 {
    width: 80% !important;
  }
}

@media (max-width: 1200px) {
  .pb_250_max_xl {
    padding-bottom: 250px;
  }
}

@media (min-width: 1400px) {
  .position_xxl_absolute {
    position: absolute;
  }

  .w_100 {
    width: 80% !important;
  }

  .pos_pngegg {
    position: absolute !important;
    bottom: -412px !important;
  }
}

@media (min-width: 1900px) {
  .w_full_hd_100 {
    width: 100% !important;
  }
  .pos_pngegg {
    position: absolute !important;
    bottom: 10%;
  }
}

@media (max-width: 1400px) {
  .m_max_xxl_auto {
    margin: 0 auto;
  }
}
