* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}

.bg_black {
  background-color: black;
}

.bg_getStarted_btn {
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
}

.border_radius_60 {
  border-radius: 60px;
}

.nav_open {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.line:nth-child(2) {
  opacity: 0;
}

.line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.hamburger .line {
  width: 40px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.z_index_3 {
  z-index: 3;
}

.z_index_1 {
  z-index: 1;
}

.bg_black {
  background-color: black;
}

.nav_bnt_line {
  height: 3px;
  width: 35px;
  background-color: white;
  display: inline-block;
}

.ms_100 {
  margin-left: -100%;
}

.p_btn_nav {
  padding: 15px 30px;
}

.nav_btn {
  position: relative;
  transition: 0.3s ease-in-out all;
}

.nav_btn:hover {
  color: white !important;
}

.nav_btn::after {
  content: "";
  position: absolute;
  background-color: #d41700;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 50%;
}

.nav_btn:hover::after {
  content: "";
  width: 100%;
  transition: 0.4s ease-in-out all;
  transform: translateX(-50%);
}

/* hero */
.bg_hero {
  background-image: url("./assets/img/png/hero_bg.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mw_980 {
  max-width: 980px;
}

.position_hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero_line {
  width: 65px;
  height: 4px;
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
}

/* takeControl */
.mw_630 {
  max-width: 630px;
}

.mw_760 {
  max-width: 760px;
}

.w_136 {
  max-width: 136px;
}

.border_radius_16 {
  border-radius: 16px;
}

.line_cards_gradient {
  background: linear-gradient(90deg,
      rgba(232, 15, 15, 0),
      rgba(232, 15, 15, 1),
      rgba(232, 15, 15, 0));
  width: 145px;
  height: 3px;
}

.opacity_0_5:hover {
  opacity: 0.5;
}

.hover_cards {
  border: 2px solid transparent;
}

.hover_cards:hover {
  background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(146.74deg,
      rgba(232, 15, 15, 0) 0%,
      #e80f0f 51.29%,
      rgba(89, 89, 89, 0) 100%) border-box;
}

.transition_03 {
  transition: 0.3s ease-in-out all;
}

.position_phone {
  bottom: -50px;
}

.footer_btn:hover {
  color: white !important;
}

.position_line_cards {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn_hover_shadow:hover {
  box-shadow: 0px 5px 15px 5px rgba(255, 0, 0, 0.5);
}

.btn_hover_shadow {
  transition: 0.3s ease-in-out all;
}

.hover_btn_getStarted:hover {
  background-color: white !important;
  color: black !important;
}

/* footer */
.footer_btn:hover {
  color: white !important;
}

.h_600 {
  height: 600px;
}

.end_20 {
  right: 20px;
}

.top_20 {
  top: 20px;
}

.w_85 {
  width: 85%;
}

.red_circle_position_products {
  top: -40%;
  z-index: -1;
  width: 50%;
}

/* =========================================== */
.w_852 {
  max-width: 852px;
}

.w_230 {
  max-width: 230px;
}

.w_665 {
  max-width: 665px;
}

.w-170 {
  max-width: 170px;
}

.w-195 {
  max-width: 195px;
}

/* ======================================================== */
.max_w_893 {
  max-width: 893px;
}

.Features_box {
  background: #121212;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.4);
  padding: 27px;
  height: 100%;
  transition: all 400ms linear;
}

.Features_box:hover {
  box-shadow: 0px 3px 40px 0px #ff000051;
}

/*----------StayConnect----------*/
.stay_box {
  background: #eb1111;
  border-radius: 18px;
  transition: all 400ms linear;
}

.stay_box:hover {
  box-shadow: 0px 1px 1px 0px #ff000080;
}

.max_w_665 {
  max-width: 665px;
}

.btn_1 {
  text-align: center;
  background: #000000;
  border-radius: 60px;
  padding: 15px 30px;
  color: #fff;
}

.z_index1 {
  z-index: 1;
}

.z_index-1 {
  z-index: -1;
}

.z_index_3 {
  z-index: 3;
}

.z_index_8 {
  z-index: 8;
}

.w_10 {
  width: 10%;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
  box-shadow: none !important;
  font-family: "Gilroy-SemiBold" !important;
  font-weight: 600 !important;
  font-size: var(--fs_md) !important;
  color: #ffffff !important;
}

.accordion-body {
  background-color: transparent !important;
  font-family: "Gilroy-SemiBold" !important;
  font-weight: 500 !important;
  font-size: var(--fs_xsm) !important;
  color: #ffffff !important;
}

.accordion-item {
  border: none !important;
  background: #841002 !important;
  /* box-shadow: 0px 4px 100px rgba(191, 48, 48, 0.5); */
  border-radius: 12px !important;
}

.accordion-button {
  background: #232323 !important;
  border-radius: 12px !important;
  color: #a6a6a6 !important;
  font-weight: 600 !important;
  font-family: "Gilroy-SemiBold" !important;
  font-size: var(--fs_md) !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-item:first-of-type {
  border-radius: 12px !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
  border-radius: 12px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: none !important;
  border-bottom-left-radius: none !important;
  border-radius: 12px !important;
}

.accordion-item:last-of-type {
  border-radius: 12px !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/img/svg/faq_open_img.svg") !important;
}

.accordion-button::after {
  background-image: url("./assets/img/svg/faq_plus_img.svg") !important;
  background-repeat: no-repeat !important;
}

/* ======================================= */
.red_circle_position_work_end {
  bottom: -100%;
}

.right_15_top_10 {
  right: 0%;
  top: -45%;
}

.white_space {
  white-space: nowrap;
}

.svg_hover {
  background: #232323;
  border-radius: 50%;
  transition: all ease-in-out 0.3s !important;
  width: 32px;
  height: 32px;
}

.svg_hover:hover {
  background: red;
}

.w_554 {
  max-width: 554px;
}

.svg_hover svg path {
  transition: all ease-in-out 0.3s !important;
}

.svg_hover:hover svg path {
  fill: white;
}

.position_phones {
  left: 0%;
  bottom: 0%;
}

.svg_hovers:hover {
  color: white !important;
}

/* =================================== */
.overflow_hidden_preloder {
  overflow: hidden;
  position: relative;
}

.loding_position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.color_back_to_top {
  background-color: #7f0011;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  z-index: 9999;
  padding: 10px 10px 20px 10px;
}

.animation_loding {
  animation: loading_animate 1s alternate linear infinite;
}

/* ======================================== */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button {
  cursor: pointer !important;
  height: 5px !important;
  width: 8px !important;
}

/* ========================================= */

@keyframes loading_animate {
  0% {
    transform: scale(1);
  }

  0% {
    transform: scale(1.5);
  }
}

/* ================================= */
@media (max-width: 576px) {
  .pos_pngegg {
    position: relative !important;
    bottom: -119px;
  }

  .w_100 {
    width: 100% !important;
  }

  .w_xsm_50 {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .pos_pngegg {
    position: relative !important;
    bottom: -120px;
  }

  .w_100 {
    width: 100% !important;
  }

  .mx_auto_sm {
    margin-right: auto;
    margin-left: auto;
  }

  .w_sm_13 {
    width: 13%;
  }
}

@media (min-width: 768px) {
  .w_97 {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .nav_open {
    all: unset;
  }

  .position_line {
    left: 240px;
    top: 25px;
  }

  .position_red_line {
    right: 240px;
    top: 25px;
  }

  .min_58 {
    min-height: 68vh;
  }

  .w_80 {
    width: 80%;
  }

  .w_100 {
    width: 80% !important;
  }
}

@media (max-width: 992px) {
  .min_vh_max_lg {
    min-height: 100vh;
  }
}

@media (min-width: 1200px) {
  .min_vh_md_100 {
    min-height: 100vh;
  }

  .pos_pngegg {
    position: absolute !important;
    bottom: -120px;
  }

  .w_100 {
    width: 80% !important;
  }

  .position_lg_relative {
    position: relative;
  }

  .position_lg_absolute {
    position: absolute;
  }

  .position_xl_relative {
    position: relative;
  }

  .position_xl_absolute {
    position: absolute;
  }

  .w_97 {
    width: 97%;
  }
}

@media (max-width: 1200px) {
  .pb_250_max_xl {
    padding-bottom: 250px;
  }

  .p_btn_nav {
    padding: 15px 20px;
  }

  .mx_xl_auto {
    margin-right: auto;
    margin-left: auto;
  }

}

@media (min-width: 1400px) {
  .position_xxl_absolute {
    position: absolute;
  }

  .w_100 {
    width: 80% !important;
  }

  .pos_pngegg {
    position: absolute !important;
    bottom: -120px !important;
  }

  .position_line {
    left: 350px;
    top: 25px;
  }

  .position_red_line {
    right: 350px;
    top: 25px;
  }
}

@media (min-width: 1900px) {
  .w_full_hd_100 {
    width: 100% !important;
  }

  .pos_pngegg {
    position: absolute !important;
    bottom: -120px !important;
  }
}

@media (max-width: 1400px) {
  .m_max_xxl_auto {
    margin: 0 auto;
  }
}